.buildpath
.project
.settings/*
.idea/*
*.xm
*.mod
*.it
*.out
*.so
*.o
*.lo
*.lib
streammer
*.libs*
*.deps*
*.dirstamp*
*libmikmod-config
libmikmod.la
libmikmod.pc
*libmikmod-config.1
*/*/libtool
Makefile
config.h
config.log
config.status
stamp-h1